<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to nginx, fathermucker!!!</h1>
<p>If you see this page, the nginx web server is successfully installed and
working.</p>

<p>Server is working: <br>
Server name is {{ ansible_nodename }} <br>
Number of cores is {{ ansible_processor_cores }} <br>
Total memory: {{ ansible_memtotal_mb }} Mb<br>
Family OS is {{ ansible_os_family }} <br>
</p>

<p><em>Thank you for using nginx.</em></p>
</body>
</html>